<% provide :page_title, 'Questions' %>
<% currently_at 'Questions'%>
<h1 class="mb-4">Questions</h1>
<%= link_to 'new question', new_question_path, class: 'btn btn-primary btn-lg mb-3' %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<% @questions.each do |item| %>
  <article class="card my-3">
    <div class="card-body">
      <h2><%= item.title %></h2>
      <section class="card-text">
        <time datetime = "<%= item.formatted_created_at%>">
          <small><%= item.formatted_created_at %></small>
        </time>
        <p class="my-2"><%= truncate strip_tags(item.body), length: 100, omission: '...(continued)'%>
          <br>
          <%= link_to 'show', question_path(item), class: "btn btn-primary" %>
          <%= link_to 'edit', edit_question_path(item), class: "btn btn-secondary" %>
          <%= link_to 'Delete', question_path(item), class: "btn btn-danger", 
            data: { method: :delete, confirm: 'Are you sore?'} %>
        </p>
      </section>
    </div>
  </article>
<% end %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
